* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.hero {
    width: 100%;
    min-height: 100vh;
    background: url(img/simon-berger-aZjw7xI3QAA-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
}

.container {
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.digital-clock {
    height: 100%;
    width: 100%;
    background: url(img/simon-berger-aZjw7xI3QAA-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    backdrop-filter: blur(40px);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .container::before {
    content: "";
    width: 180px;
    height: 180px;
    background: #f41b75;
    border-radius: 5px;
    position: absolute;
    left: -50px;
    top: -50px;
    z-index: -1;
}

.container::after {
    content: "";
    width: 180px;
    height: 180px;
    background: #419aff;
    border-radius: 50%;
    position: absolute;
    right: -50px;
    bottom: -50px;
    z-index: -1;
} */

span {
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 0px -5px;
}

.digital-clock span::after {
    font-size: 16px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);

}

#hrs::after {
    content: "HOURS";
}

#min::after {
    content: "MINS";
}

#sec::after {
    content: "SEC";
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 600px;
    }

    span {
        font-size: 60px;
    }
  }

/* Small Devices (Portrait Tablets and Large Phones, 576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {

    .container {
        width: 500px;
    }

    span {
        font-size: 50px;
    }
}

/* Extra Small Devices (Phones, < 576px) */
@media (max-width: 575px) {
    .container {
        width: 300px;
        height: 120px;
    }

    span {
        font-size: 40px;
    }

    .digital-clock span::after {
        font-size: 10px;
    }
}